.header {
	height: 100vh;
	font-size: 72px;
	letter-spacing: 1px;
	font-weight: 900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 25px;
	line-height: 1.5;

	.yellow {
		color: var(--yellow);
	}

	.pink {
		color: var(--pink);
	}

	.orange {
		color: var(--orange);
	}
}