.contact {
	height: 100vh;

	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 70%;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.5;
		letter-spacing: 1px;
		font-size: 48px;

		a {
			transition: 0.3s;

			&:hover {
				color: var(--orange);
			}
		}
	}

	.footer {
		display: flex;
		justify-content: center;
		font-size: 14px;
	}

	@media (max-width: 767px) {
		margin: 35px 0;
	}
}