:root {
  --background: #182037;
  --font: #f7f2de;
  --yellow: #f7d35c;
  --pink: #e9c9dd;
  --orange: #d55648;
}

[data-theme="light"] {
	--background: #f6f2e0;
	--font: #182037;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--background);
	color: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
