:root {
  --blue: #182037;
  --cream: #f7f2de;
  --yellow: #f7d35c;
  --pink: #e9c9dd;
  --orange: #d55648;
  --green: #2a4133;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--blue);
	color: var(--cream);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
