:root {
  --blue: #182037;
  --cream: #f7f2de;
  --yellow: #f7d35c;
  --pink: #e9c9dd;
  --orange: #d55648;
  --green: #2a4133;
  --base: #182037;
  --accent: #f7f2de;
  --cyan: #16a085;
}

[data-theme="light"] {
  --base: #f7f2de;
  --accent: #182037;
}

html,
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--base);
  overflow: scroll;
}

#myPage {
	background-color: var(--base);
	color: var(--accent);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

